{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
<div class="container-fluid bg py-5">
    <div class="row justify-content-center align-items-center text-white">
        <div class="col-md-6 p-5 m-5">
          <div class="login p-5 m-5">
          {{ form(form) }}

          <p class="fs-7 text-secondary">
              If you already have an account, please 
              <a class="text-decoration-none text-white" href="{{ path('app_logout') }}">sign in</a>
          </p>
          </div>
        </div>
    </div>
</div>
{% endblock %}
