 html,body {
    height: 100%;
    max-height: 100%;
    margin:0;
    padding:0;
}
.bg {
    background-image: url('../images/bg.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login{
    border: 1px solid transparent ;
    backdrop-filter: blur(2rem) ;
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0,0,0,0.4) ;
    border-top-color: rgba(225, 225,225, 0.2);
    border-left-color: rgba(225, 225,225, 0.2) ;
    border-bottom-color: rgba(225, 225,225, 0.2) ;
    border-right-color: rgba(225, 225, 225, 0.2);
}
.side_login {
    border: 1px solid transparent ;
    border-right-color: rgba(225, 225, 225, 0.7);
}
.cb {
    background-color:rgba(225, 225, 225, 0) ;
}

.inputL {
    background-color: transparent !important;
}
.fs-7 {
    font-size: .8rem;
}